.loginsignup{
    width: 100%;
    height: 80vh;
    background-color: #f0f0f0;
    padding-top: 100px;
}
.loginsignup-container{
    width: 580px;
    height: 600px;
    margin: auto;
    background-color: #fff;
    padding: 40px 60px;
}
.loginsignup-container h1{
 margin: 20px 0px;
}
.loginsignup-fields{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}
.loginsignup-fields input{
    height: 72px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #888;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}
.loginsignup-container button{
    width: 580px;
    height: 72px;
    background-color: #000;
    color: #fff;
    background: #021bab;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}
.loginsignup-container button:hover{
    transform: scale(1.02);
    transition: 0.3s;
}
.loginsignup-login{
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}
.loginsignup-login span{
    color: #021bab;
    font-weight: 600;
}
.loginsignup-agree{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}